/* golbal rules */
:root {
  --main-color: #3e3731;
  --main-color-alt: #a29489;
  --main-color-decoration:#f2eeea;
  --main-transition: 0.3s;
  --main-padding-top: 100px;
  --main-padding-bottom: 100px;
  --section-background: #ececec;

 
}

html {
  scroll-behavior: smooth;

}

body {
  height: 900vh;
  font-family: "Tilt Neon", "sans-serif";
  background-color:#ececec;

}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}

/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

               /*            START                  */

.header {
  background-color:#f2eeea;
  position: relative;
  box-shadow: 0 0 10 #ddd;
  -webkit-box-shadow: 0 0 10px #ddd;
  -moz-box-shadow: 0 0 10px #ddd;
  position: fixed;
  width: 100%;
  z-index: 1;

}

.container {
  
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;


}

.logo {
  color:#3e3731;
  font-size: 30px;
  font-weight: bold;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;

}
@media (max-width: 767px) {
.logo {
    width: 100%;
    height: 50px;
  }
}



.main-nav {
  display: flex;

}
@media (max-width: 767px) {
  .header .main-nav {
    margin: auto;
  }}

.main-nav>li>a {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: black;
  height: 70px;
  position: relative;
  color:#3e3731;
  padding: 0 35px;
  overflow: hidden;
  font-size: 18px;
  transition: 0.3s;
  text-decoration: none;


}
@media (max-width: 767px) {
.main-nav > li > a {
    padding: 10px;
    font-size: 14px;
    height: 40px;
  }
}



.main-nav>li>a::before {
  content: "";
  position: absolute;
  width: 100%;
  height: 4px;
  background-color:#a29489;
  top: 0;
  left: -100%;
  transition: 0.3s;
}

.main-nav>li>a:hover {
  color: var(--main-color);
  background-color: #fafafa;
}

.main-nav>li>a:hover::before {
  left: 0;
}
/* HOME */
                                       /* HOME */
                                                                                       /* HOME */

.Home{
  background-image: url(/imgs/banner-01.jpg);
 background-position: center bottom;
 background-repeat: no-repeat;
 background-attachment: fixed;
 background-size: cover;
 min-height: 100vh;
 display: flex;
 align-items: center;
 justify-content: center;
}
.info1{
  margin-top: -10rem;
  max-width: 500px;
  line-height: 1.5em;
  letter-spacing: .5px;
  text-align:justify;
  padding: 220px 33% 320px 9%;


}
.info1 h4{
  background-color: #f2eeea;
  color: #3e3731;
  border-radius: 30px;
  box-shadow: 0 0 10px rgba(0,0,0,.5) ;
  opacity: .8;
 font-size: 16px;
font-weight: 500;
text-transform: capitalize;
padding: 6px 15px;
 display: inline-block;

}
em{
  color:red;
}
 
.info1 h2{
  color:white;
  font-size: 50px;
  font-weight: 700;
  text-transform: uppercase;
  line-height: 72px;
  margin-bottom: 0px;
}


/***********************PART 2*****************************/



.three{
  background-color:#f2eeea;
  display: flex;
  padding-top:66px ;
  flex-wrap: nowrap;
  align-items: center;
  justify-content: space-evenly;
  width: 100%;
  height: auto;
}
.img1{
  position: relative;
  overflow: hidden;
}
.part1{
  width: 100%;
  max-width: 200px;
  min-width: 400px;
  }
 .part1 h4{
  color: red;
  font-family:Tilt Neon;
  font-style: normal;
  font-weight: bold;
  font-size: 20px;
  line-height: 38px;
  letter-spacing: -0.02em;
  text-align: left;

 }
 .part1 h2{
  color: #3e3731;
  font-family:Tilt Neon;
  font-style: normal;
  font-weight: bold;
  font-size: 25px;
  line-height: 39px;
  text-align: left;
 }
 button{
  background-color: #f2eeea;
  color: #3e3731;
  border: none;
  padding: 10px 20px;
  font-family:Tilt Neon;
  cursor: pointer;
  margin-left: 10px;

 }
 .part2{
  background-color:white;
  border-radius: 20px;
  padding: 10px 60px;
  border: 1px solid #3e3731;
  box-shadow: 0px 0px 10px #3e3731;
  position: relative;
 }
 .part2 h4{
  color: #3e3731;
  font-size: 18px;
  font-weight: bolder;

 }
 .part2 span{
  color: #a29489;
  font-size: 18px;
  font-weight: 100;

 }
/***************************************************************************************************/

.all-video{
  background-image: url(/imgs/video-bg.jpg);
  width: 100%;
  height: auto;
  text-align: center;
  padding-top: 1px;

}
.legend-video{
  text-align: center;

}
.legend-video h6{
  color: red;
  font-size: 20px;
  padding-top: 30px;
  font-family: Tilt Neon;

}
.legend-video h2{
  color:#a29489;
  font-size: 50px;
  
}
.video a  {
  position: absolute;
    left: 50%;
   right: 50%;

    transform: translate(-26px, -26px);
    width: 52px;
    height: 52px;
    background-color: #fff;
    border-radius: 50%;
    display: inline-block;
    text-align: center;
    line-height: 52px;
    color:#3e3731;
    outline: 10px solid #a29489;
    font-size: 18px;
    align-items: center;
   
}
.video img{
  max-width: 70%;
  min-width: 70%;
  object-fit: cover;
  border-radius: 20px;
  overflow: hidden;
  }
  .Experience{
   padding: 20px;
   margin-bottom: 20px;
   background-color:#e9dcd2;
   box-shadow: 0 0 10px rgba(0,0,0,.1), inset 0 0 10px rgba(0,0,0,.1);
   border-radius: 10px;
   transition: all .5s ease;
   cursor: pointer;
   z-index: 1;
   position: relative;
   top: 0;
   left: 0;
   opacity: 1;
   visibility: visible;
   transform: scale(1) rotateY(0deg);
   backface-visibility: hidden;
   perspective: 1000px;
   transform-style: preserve-3d;
   animation: flip 1s linear infinite;
   /*animation-delay: 1s;*/
   /*transform-origin: 0% 50%;*/
  }
  .conter{
    background-color:#fff;
    padding: 0px 80px;
    text-align: center;
    border-radius: 30px;

  }
  .conter h2{
    color:#3e3731;
    font-weight: bold;
    font-family: 'Poppins', sans-serif;
    font-size: 40px;
    line-height: 13px;
    vertical-align: middle;
    width: auto;
  
  }
  .conter p{
    color:#a29489;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
    letter-spacing: -0.05em;
    font-weight: normal;
    max-width: 70ch;
    white-space: pre-line;

  }
  .house{
    background-color: #ececec;
    justify-content: space-between;
    align-items:center;


  }
.conta{
  align-items: center;

  }
  .conta h6{
    justify-content: flex-start;
    color: red;
    font-size: 20px;
    text-align: center;
    padding-left: 35px;


  }
  .conta h2{
  text-align: center;
  justify-content: center;
  color: #3e3731;
  font-size: 35px;

  
   
  }
  .booto ul  {
  display: flex;  
  justify-content:center;
   align-items: center;
   padding-top: 20px;

}
.booto li{
  list-style: none;
  margin-right: 20px;
  border-radius: 4px;
  line-height: 30px;
  text-align: center;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}  
.booto button{
background-color:#e9dcd2;
color:black;
}


.booto button:hover{
  background-color:#FC440F;
}
.allhouse{
  display: flex;
  align-items: center;
  text-align: center;
 
  margin: 70px;
}
.PAR1{
  background-color: #e9dcd2;
  border-radius: 10px;
  box-shadow: 0px 0px 15px rgba(0, 0, 0, 0.15);
  padding: 35px 30px;
}
.PAR1 li{
  display: grid;
  margin: 10px;
  padding-bottom: 16px;
  border-bottom: 1px solid #eee;
  text-align: center;
  font-size: 20px;
  color:white;
  font-weight: 400;

}
.PAR1 ul li span {
  font-size: 20px;
  color:#3e3731;
  font-weight: 700;
  
}
.PAR2{
  width: 100%;
  height: auto;
  overflow: hidden;
  position: relative;
  z-index: 1;
}
.PAR2 img{
  max-width: 100%;
  min-height: 100%;
  object-fit: cover;
  transition: all .3s ease-in-out;
  padding-left: 10px;
}
.PAR3{
width: 30%;
padding-left:15px; 
}
.PAR3 h4{
  font-size: 20px;
  color: var(--main-color);
}
.PAR3 p{
  font-size: 18px;
  line-height: 1.9em;
  color:#a29489;
  }




  /*START PART FOR ALL HOUSE*/
                                                      /*START PART FOR ALL HOUSE*/
                                                                                                    /*START PART FOR ALL HOUSE*/

  .tit-villa{
    text-align: center;
    padding-top: 20px;
    padding-bottom: 20px;
  }
  .tit-villa h6{
    color: red;
    font-size: 20px;
  }
  .tit-villa h2{
    color: #3e3731;
    font-size: 30px;
  }

  .villaa{
    background-color:#ececec;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    
}

  .property {
    background-color:#e9dcd2;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 20px;
    margin: 20px;
    width: 300px;
    text-align: left;
}
.property img{
  border-radius: 20px;
    -webkit-transform: scale(1);
    transform: scale(1);
    -webkit-transition: .3s ease-in-out;
    transition: .3s ease-in-out;
  }

  .property:hover img {
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

.property h2{
  color: #3e3731;
}
.property span{
  color: #FF4500;
  font-size: 20px;
  padding-left: 70px;
  font-weight: bolder;
}
.property p{
  color:#3e3731;
}
.whi{
font-weight: bolder;
}
.BOO{
  background-color:#FC440F;
  color: #3e3731;
  border-radius: 10px;
  font-family: Tilt Neon;
  
  

}
.BOO:hover{
  background-color:white;
}


/* start last part*/

                                               /* start last part*/

                                                                                              /* start last part*/
.top-sent{
  
  text-align: center;
  position: relative;
  font-size: 30px;
  font-weight: bold;
  color:white;

  
}
.title{
  text-align: center;
}
.title h6{
  color: red;
  font-size: 20px;
}
.title h2 {
  color: #3e3731;
  font-weight: bolder;
  font-size: 30px;
}

.sent-me{
display: flex;
  padding: 45px;
  position: relative;
  position: relative;
  align-items: center;
  justify-content: space-around;

}

.form {
  display: flex;
  flex-direction: column;
  max-width: 350px;
  background-color:#e9dcd2;
  padding: 80px;
  border-radius: 30px;
  position: relative;
}

.message {
  color: #355891;
  font-size: 14px;
}
.disc{
  color: #3e3731;
}

.flex {
  display: flex;
  width: 100%;
  gap: 6px;
  flex-direction: column;
}

.form label {
  position: relative;
}

.form label .input {
  width: 100%;
  background-color:#ececec;
  padding: 0px 45px 20px 10px;
  outline: 0;
  border: 1px solid #3e3731;
  border-radius: 5px;
}

.form label .input + span {
  position: absolute;
  left: 10px;
  top: 15px;
  color: #a29489;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
  padding-top: 60px;
}


.form label .input:placeholder-shown + span {
  top: 15px;
  font-size: 0.9em;
}

.form label .input:focus + span,.form label .input:valid + span {
  top: 30px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input:valid + span {
  color: green;
}

.input01 {
  width: 100%;
  background-color: #ececec;
  padding: 30px 26px 20px 10px;
  outline: 0;
  border: 1px solid #3e3731;
  border-radius: 5px;
}

.form label .input01 + span {
  position: absolute;
  left: 10px;
  top: 50px;
  color:#a29489;
  font-size: 0.9em;
  cursor: text;
  transition: 0.3s ease;
  padding-top: 35px;

}

.form label .input01:placeholder-shown + span {
  top: 40px;
  font-size: 0.9em;
}

.form label .input01:focus + span,.form label .input01:valid + span {
  top: 50px;
  font-size: 0.7em;
  font-weight: 600;
}

.form label .input01:valid + span {
  color: green;
}

.fancy {
  background-color:white;
  border: 2px solid #3e3731;
  border-radius: 0px;
  box-sizing: border-box;
  color: #355891;
  cursor: pointer;
  display: inline-block;
  font-weight: 390;
  letter-spacing: 6px;
  margin: 0;
  outline: none;
  overflow: visible;
  padding: 8px 30px;
  position: relative;
  text-align: center;
  text-decoration: none;
  text-transform: none;
  transition: all 0.3s ease-in-out;
  user-select: none;
  font-size: 13px;
}

.fancy::before {
  content: " ";
  width: 1.7rem;
  height: 2px;
  background: #355891;
  top: 50%;
  left: 1.5em;
  position: absolute;
  transform: translateY(-50%);
  transform: translateX(230%);
  transform-origin: center;
  transition: background 0.3s linear, width 0.3s linear;
}

.fancy .text {
  font-size: 1.125em;
  line-height: 1.33333em;
  padding-left: 2em;
  display: block;
  transition: all 0.3s ease-in-out;
  text-transform: capitalize;
  text-decoration: none;
  color:#3e3731;
  transform: translateX(30%);
}

.fancy .top-key {
  height: 2px;
  width: 1.5625rem;
  top: -2px;
  left: 0.625rem;
  position: absolute;
  background:#3e3731;
  transition: width 0.5s ease-out, left 0.3s ease-out;
}

.fancy .bottom-key-1 {
  height: 2px;
  width: 1.5625rem;
  right: 1.875rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy .bottom-key-2 {
  height: 2px;
  width: 0.625rem;
  right: 0.625rem;
  bottom: -2px;
  position: absolute;
  background: #355891;
  transition: width 0.5s ease-out, right 0.3s ease-out;
}

.fancy:hover {
  color:white;
  background: #FC440F;
  font-size: 15px;
}

.fancy:hover::before {
  width: 1.5rem;
  background:white;
}

.fancy:hover .text {
  color:#cac0b7;
  padding-left: 1.5em;
}

.fancy:hover .top-key {
  left: -2px;
  width: 0px;
}

.fancy:hover .bottom-key-1,
 .fancy:hover .bottom-key-2 {
  right: 0;
  width: 0;
}





.footer{
  background:black;
width: 100%;
  font-family: 'Play', sans-serif;
  text-align: center;
 
  }
  .footer a{
    padding-top: 10px;
    text-decoration:none;
    color: #a29489;
  }

  
  .footer .row{
  width:100%;
  margin:1% 0%;
  padding:0.6% 0%;
  color:white;
  font-size:0.8em;
  }
  
  .footer .row a{
  text-decoration:none;
  color:#3e3731;
  transition:0.5s;
  }
  
  .footer .row a:hover{
  color:#fff;
  }
  
  .footer .row a i{
    color: #FC440F;
  font-size:2em;
  margin:0% 1%;
  }
  
 footer{
  background-color:#cac0b7;
  height: auto;
  position: relative;

 }
 .fin{
  text-align: center;
  padding: 20px 0px;
  display: grid;
  place-items:center;
  color: #3e3731;

 }
 .fin a{
  text-decoration: none;
  color: white;
  padding-bottom: 10px;
 }
    
  
  








  
